{% extends "base.html" %}

{% block content %}
    <div class="match-analysis-header">
        <h2>Match Analysis</h2>
        <div id="matchMenu" class="custom-dropdown">
            <div class="selected-item" id="selectedItemMatches">Select a Match</div>
            <div class="dropdown-list" id="matchDropdown">
                <!-- Dynamic competitions and seasons will be added here -->
            </div>
        </div>
    </div>
    <div class="match-analysis-content">
        <div id="match-graph-container">
            <h3> Match Graphs will go here</h3>
        </div>
        <div id="match-analysis-tables">
            <div class="match-analysis-tabs">
                <button class="tab-button active" onclick="showTab('matchTab')">Match</button>
                <button class="tab-button" onclick="showTab('team1Tab')">Team 1</button>
                <button class="tab-button" onclick="showTab('team2Tab')">Team 2</button>
            </div>
            <div id="matchTab" class="tab-content active">
                <table id="scorelineTable">
                    <!-- Table Header: Team Names and Scoreline -->
                    <thead>
                        <tr>
                            <th class="homeTeamName"></th>
                            <th class="matchScore"></th>
                            <th class="awayTeamName"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="team homeTeam">
                                <div class="scorers"></div>
                            </td>
                            <td class="divider">
                                <div class="referee"><strong></strong></div>
                            </td>
                            <td class="team awayTeam">
                                <div class="scorers">-</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="team homeTeam">
                                <div class="assists"></div>
                            </td>
                            <td class="divider"></td>
                            <td class="team awayTeam">
                                <div class="assists">-</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="team homeTeam">
                                <div class="manager"></div>
                            </td>
                            <td class="divider"></td>
                            <td class="team awayTeam">
                                <div class="manager"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="matchOverviewTable">
                    <thead>
                        <tr>
                            <th class="homeTeamName"></th>
                            <th class="statsValues">Stats</th>
                            <th class="awayTeamName"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Row 1: Shots -->
                        <tr>
                            <td id="homeTeamShots"></td>
                            <td class="statsHeader">Shots</td>
                            <td id="awayTeamShots"></td>
                        </tr>
                        <!-- Row 2: Passes Attempted -->
                        <tr>
                            <td id="homeTeamPassesAttempted"></td>
                            <td class="statsHeader">Passes Attempted</td>
                            <td id="awayTeamPassesAttempted"></td>
                        </tr>
                        <!-- Row 3: Passes Completed -->
                        <tr>
                            <td id="homeTeamPassesCompleted"></td>
                            <td class="statsHeader">Passes Completed</td>
                            <td id="awayTeamPassesCompleted"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div id="team1Tab" class="tab-content">
                <div id="team1-table-container">
                    <p>Team 1 table will load here</p>
                </div>
            </div>
            <div id="team2Tab" class="tab-content">
                <div id="team2-table-container">
                    <p>Team 2 table will load here</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='/js/match_analysis.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/match-analysis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/match_summary.css') }}">
{% endblock %}
