{% extends "base.html" %}

{% block content %}
    <div class="match-analysis-header">
        <h2>Match Analysis</h2>
        <div id="matchMenu" class="custom-dropdown">
            <div class="selected-item" id="selectedItemMatches">Select a Match</div>
            <div class="dropdown-list" id="matchDropdown">
                <!-- Dynamic competitions and seasons will be added here -->
            </div>
        </div>
    </div>
    <div id="match-graph-container">
        <h3> Match Graphs will go here</h3>
    </div>
    <script src="{{ url_for('static', filename='/js/matches_dropdown.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/match-analysis.css') }}">

{% endblock %}
